name: Build and Test

permissions:
  contents: read

on:
  push:
    branches: [main]
  pull_request:
   branches: [main]

env:
  ZIG_VERSION: 0.14.1

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Cache Zig
        id: cache
        uses: actions/cache@v5
        with:
          path: ~/zig
          key: ${{ runner.os }}-zig-${{ env.ZIG_VERSION }}

      - name: Install Zig
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          wget https://ziglang.org/download/${{ env.ZIG_VERSION }}/zig-x86_64-linux-${{ env.ZIG_VERSION }}.tar.xz
          tar -xf zig-x86_64-linux-${{ env.ZIG_VERSION }}.tar.xz
          mv zig-x86_64-linux-${{ env.ZIG_VERSION }} ~/zig

      - name: Add Zig to PATH
        run: echo "${HOME}/zig" >> $GITHUB_PATH

      - name: Cache Zig build artifacts
        uses: actions/cache@v5
        with:
          path: |
            zig-cache
            ~/.cache/zig
          key: ${{ runner.os }}-zig-build-${{ hashFiles('**/*.zig') }}
          restore-keys: ${{ runner.os }}-zig-build-

      - name: Formatting
        run: zig fmt --check --color on .

      - name: Unit testing
        run: zig build test --summary all

      - name: Building
        run: zig build -Doptimize=ReleaseSafe
